[defaults]
host_key_checking = False
inventory = inventory.yaml
stdout_callback = ansible.builtin.default
callback_result_format = yaml
bin_ansible_callbacks = True
interpreter_python = auto_silent
local_tmp = /tmp/simu-iso-cs-ansible
